# Source TypeScript (on garde dist/)
src/
tsconfig.json
*.tsbuildinfo

# Development only
.vscode/
.idea/
.DS_Store
.git/
.gitignore

# Docs (on garde README.md)
*.md
!README.md

# Tests et logs
*.log
*.tgz
test/
tests/
*.test.ts
*.spec.ts
